# Website A/B Testing - Lab

## Introduction

In this lab, you'll get another chance to practice your skills at conducting a full A/B test analysis. It will also be a chance to practice your data exploration and processing skills! The scenario you'll be investigating is data collected from the homepage of a music app page for audacity.

## Objectives

You will be able to:
* Analyze the data from a website A/B test to draw relevant conclusions
* Explore and analyze web action data

## Exploratory Analysis

Start by loading in the dataset stored in the file 'homepage_actions.csv'. Then conduct an exploratory analysis to get familiar with the data.

> Hints:
    * Start investigating the id column:
        * How many viewers also clicked?
        * Are there any anomalies with the data; did anyone click who didn't view?
        * Is there any overlap between the control and experiment groups? 
            * If so, how do you plan to account for this in your experimental design?

In [66]:
#Your code here
import pandas as pd
import numpy as np


df = pd.read_csv('homepage_actions.csv')
df.head()

                    timestamp      id       group action
0  2016-09-24 17:42:27.839496  804196  experiment   view
1  2016-09-24 19:19:03.542569  434745  experiment   view
2  2016-09-24 19:36:00.944135  507599  experiment   view
3  2016-09-24 19:59:02.646620  671993     control   view
4  2016-09-24 20:26:14.466886  536734  experiment   view

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8188 entries, 0 to 8187
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  8188 non-null   object
 1   id         8188 non-null   int64
 2   group      8188 non-null   object
 3   action     8188 non-null   object
dtypes: int64(1), object(3)
memory usage: 256.0+ KB

In [4]:
df['action'].value_counts()

view     6328
click    1860
Name: action, dtype: int64

In [57]:
df['group'].value_counts()

control       4264
experiment    3924
Name: group, dtype: int64

In [16]:
ids = df['id'].unique()
len(ids)

6328

In [31]:
#get unique id's for clicks and views

c_id = df[df['action'] == 'click']['id'].unique()
v_id = df[df['action'] == 'view']['id'].unique()

print(len(c_id), len(v_id))

unique_view_id = [i for i in v_id if i not in c_id]
len(unique_view_id)

1860 6328

4468

In [34]:
#get unique id's for experiment and control
exp_id = df[df['group'] == 'experiment']['id'].unique()
con_id = df[df['group'] == 'control']['id'].unique()

len(exp_id), len(con_id)

(2996, 3332)

## Conduct a Statistical Test

Conduct a statistical test to determine whether the experimental homepage was more effective than that of the control group.

In [ ]:
# Null hypothesis is that theres no difference between the control group and the experimental group's clicks
# Alternative hypothesis is that there will be a difference between the control group and the experimental with clicks

In [70]:
df['view'] = 1
df['click'] = np.where(df['action'] == 'click', 1, 0)
df['click'].value_counts()

                     timestamp      id       group action  view  click
0   2016-09-24 17:42:27.839496  804196  experiment   view     1      0
1   2016-09-24 19:19:03.542569  434745  experiment   view     1      0
2   2016-09-24 19:36:00.944135  507599  experiment   view     1      0
3   2016-09-24 19:59:02.646620  671993     control   view     1      0
4   2016-09-24 20:26:14.466886  536734  experiment   view     1      0
5   2016-09-24 20:32:25.712659  681598  experiment   view     1      0
6   2016-09-24 20:39:03.248853  522116  experiment   view     1      0
7   2016-09-24 20:57:20.336757  349125  experiment   view     1      0
8   2016-09-24 20:58:01.948663  349125  experiment  click     1      1
9   2016-09-24 21:00:12.278374  560027     control   view     1      0
10  2016-09-24 21:00:41.351487  265695  experiment   view     1      0
11  2016-09-24 21:05:15.348935  601714  experiment   view     1      0
12  2016-09-24 21:06:27.553057  601714  experiment  click     1      1
13  2016-09-24 21:09:09.046127  416862  experiment   view     1      0
14  2016-09-24 21:29:19.766467  487634  experiment   view     1      0
15  2016-09-24 21:30:02.739756  487634  experiment  click     1      1
16  2016-09-24 23:01:08.713402  468601  experiment   view     1      0
17  2016-09-24 23:01:12.108316  468601  experiment  click     1      1
18  2016-09-24 23:08:35.540897  293251  experiment   view     1      0
19  2016-09-24 23:50:31.623841  515303  experiment   view     1      0
20  2016-09-25 00:00:47.700734  555973  experiment   view     1      0
21  2016-09-25 00:01:47.933853  555973  experiment  click     1      1
22  2016-09-25 00:06:13.556666  756950  experiment   view     1      0
23  2016-09-25 00:25:14.141290  281985     control   view     1      0
24  2016-09-25 01:14:48.603202  407864     control   view     1      0
25  2016-09-25 02:16:11.046654  342984     control   view     1      0
26  2016-09-25 02:41:58.928919  716544     control   view     1      0
27  2016-09-25 02:52:43.844199  398892     control   view     1      0
28  2016-09-25 02:53:25.459874  398892     control  click     1      1
29  2016-09-25 03:28:47.603433  444902  experiment   view     1      0

In [113]:
cont = df[(df['group'] == 'control')]
cont

                       timestamp      id    group action  view  click
3     2016-09-24 19:59:02.646620  671993  control   view     1      0
9     2016-09-24 21:00:12.278374  560027  control   view     1      0
23    2016-09-25 00:25:14.141290  281985  control   view     1      0
24    2016-09-25 01:14:48.603202  407864  control   view     1      0
25    2016-09-25 02:16:11.046654  342984  control   view     1      0
...                          ...     ...      ...    ...   ...    ...
8178  2017-01-18 08:17:12.675797  616692  control   view     1      0
8181  2017-01-18 09:07:37.661143  795585  control   view     1      0
8182  2017-01-18 09:09:17.363917  795585  control  click     1      1
8186  2017-01-18 10:08:51.588469  505451  control   view     1      0
8187  2017-01-18 10:24:08.629327  461199  control   view     1      0

[4264 rows x 6 columns]

In [124]:
exp = df[(df['group'] == 'experiment')]
exp

                       timestamp      id       group action  view  click
0     2016-09-24 17:42:27.839496  804196  experiment   view     1      0
1     2016-09-24 19:19:03.542569  434745  experiment   view     1      0
2     2016-09-24 19:36:00.944135  507599  experiment   view     1      0
4     2016-09-24 20:26:14.466886  536734  experiment   view     1      0
5     2016-09-24 20:32:25.712659  681598  experiment   view     1      0
...                          ...     ...         ...    ...   ...    ...
8179  2017-01-18 08:53:50.910310  615849  experiment   view     1      0
8180  2017-01-18 08:54:56.879682  615849  experiment  click     1      1
8183  2017-01-18 09:11:41.984113  192060  experiment   view     1      0
8184  2017-01-18 09:42:12.844575  755912  experiment   view     1      0
8185  2017-01-18 10:01:09.026482  458115  experiment   view     1      0

[3924 rows x 6 columns]

In [123]:
#get just id, view and click for control group. drop duplicates
control = cont.loc[:, ['id','view','click']].drop_duplicates(subset='id', keep="last")
control

          id  view  click
3     671993     1      0
9     560027     1      0
23    281985     1      0
24    407864     1      0
25    342984     1      0
...      ...   ...    ...
8177  839581     1      0
8178  616692     1      0
8182  795585     1      1
8186  505451     1      0
8187  461199     1      0

[3332 rows x 3 columns]

In [125]:
#get just id, view, and click for experiment group. drop duplicates
experiment = exp.loc[:, ['id','view','click']].drop_duplicates(subset='id', keep="last")
experiment

          id  view  click
0     804196     1      0
1     434745     1      0
2     507599     1      0
4     536734     1      0
5     681598     1      0
...      ...   ...    ...
8176  540466     1      0
8180  615849     1      1
8183  192060     1      0
8184  755912     1      0
8185  458115     1      0

[2996 rows x 3 columns]

In [135]:
exp_num = experiment['click'].sum()

In [133]:
cont_num = control['click'].sum()

In [154]:
print("Number of control Clicks: {}".format(cont_num))
print("Number of experimental Clicks: {}".format(exp_num))

print('Mean for control Clicks: {}'.format(control.click.mean()))
print('Mean for control Clicks: {}'.format(experiment.click.mean()))

Number of control Clicks: 932
Number of experimental Clicks: 928
Mean for control Clicks: 0.2797118847539016
Mean for control Clicks: 0.3097463284379172

In [155]:
from scipy import stats

s, p = stats.ttest_ind(experiment.click, control.click)
p

0.008825098914958293

In [ ]:
# P value is less than 0.05 which means that we have rejected the null hypothesis

## Verifying Results

One sensible formulation of the data to answer the hypothesis test above would be to create a binary variable representing each individual in the experiment and control group. This binary variable would represent whether or not that individual clicked on the homepage; 1 for they did and 0 if they did not. 

The variance for the number of successes in a sample of a binomial variable with n observations is given by:

## $n\bullet p (1-p)$

Given this, perform 3 steps to verify the results of your statistical test:
1. Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group. 
2. Calculate the number of standard deviations that the actual number of clicks was from this estimate. 
3. Finally, calculate a p-value using the normal distribution based on this z-score.

### Step 1:
Calculate the expected number of clicks for the experiment group, if it had the same click-through rate as that of the control group.

In [145]:
#Your code here
cont_mean = control.click.mean() #exp_num/len(exp_id)
expexted_exp = cont_mean*len(experiment)
expexted_exp

838.0168067226891

### Step 2:
Calculate the number of standard deviations that the actual number of clicks was from this estimate.

In [147]:
#Your code here
n = len(experiment)
p = cont_mean
std = np.sqrt(n*p*(1-p))
std

24.568547907005815

In [150]:
actual_exp = experiment.click.sum()
z = (actual_exp-expexted_exp)/std
z

3.6625360854823588

### Step 3: 
Finally, calculate a p-value using the normal distribution based on this z-score.

In [151]:
#Your code here
import scipy.stats as stats
p = stats.norm.sf(z) #or 1 - stats.norm.cdf(z_score)
print(p)

0.00012486528006951198

### Analysis:

Does this result roughly match that of the previous statistical test?

> Comment: The p-value using the normal dist based on z score is slightly lower than the one using the ttest, but they both show statistical significance and therefore both reject the null hypothesis

## Summary

In this lab, you continued to get more practice designing and conducting AB tests. This required additional work preprocessing and formulating the initial problem in a suitable manner. Additionally, you also saw how to verify results, strengthening your knowledge of binomial variables, and reviewing initial statistical concepts of the central limit theorem, standard deviation, z-scores, and their accompanying p-values.